<nav class="text-white fixed top-0 left-0 w-full z-50 bg-white rounded-b-md shadow-2xl"
    [style.backgroundImage]="'url(/images/navBar.png)'" style="background-size: cover;">
    <div class="flex flex-wrap items-center justify-between mx-auto py-2">
        <div class="logo flex items-center primary-color ml-9 space-x-2">
            <img routerLink="home" src="/images/logo.png" alt="" width="80" class="cursor-pointer">
            <p class="text-3xl">Papy<span class="text-amber-700">rus</span></p>
        </div>

        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse mr-9">
            @if(!isLogin){
            <div class="space-x-4">
                <button><a routerLink="login" class="bg-[var(--secondary-color)] p-3 rounded text-sm">Login</a></button>
                <button><a routerLink="register"
                        class="bg-[var(--secondary-color)] p-3 rounded text-sm">Register</a></button>
            </div>
            } @else {
            <div class="space-y-2 flex items-center space-x-3">
                <span class="text-sm mt-2">{{name}}</span>
                <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 dark:focus:ring-gray-600"
                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
                    <span class="sr-only">Open user menu</span>
                    <img class="rounded-full" src="/icons/user.png" alt="user photo">
                </button>
            </div>
            }
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-gray-900 dark:text-white">{{name}}</span>
                    <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{email}}</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    @if(isAdmin){
                    <li><a routerLink='/dashboard' class={{linkStyleUser}}>dashboard</a></li>
                    }
                    <li><a routerLink='/home' class={{linkStyleUser}} (click)="signOut()">signOut</a></li>
                </ul>
            </div>
            <button data-collapse-toggle="navbar-user" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 hover:text-white rounded-lg md:hidden hover:bg-[var(--primary-color)] focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-user" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>

        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4  md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li><a routerLink="/" class={{linkStyle}} (click)="toggleMenu()">Home</a></li>
                <li><a routerLink="/shop" class={{linkStyle}} (click)="toggleMenu()">Shop</a></li>
                <li><a routerLink="/about" class={{linkStyle}} (click)="toggleMenu()">About</a></li>
                @if(isLogin) {
                <li class="relative">
                    <a routerLink="/cart" class="{{ linkStyle }}" (click)="toggleMenu()">
                        <i class="fa-solid fa-cart-shopping text-xl"></i>
                        <!-- Badge -->
                        @if(cartCount()>0) {
                        <span class="absolute -top-2 -right-2 bg-red-600 text-white text-xs font-bold rounded-full px-1.5
                            py-0.5">
                            {{ cartCount() }}
                        </span>
                        }
                    </a>
                </li>
                <li class="relative">
                    <a routerLink="/favourite" class="{{ linkStyle }}" (click)="toggleMenu()">
                        <i class="fa-solid fa-heart text-2xl"></i>
                        @if(favoriteCount()>0) {
                        <span class="absolute -top-2 -right-2 bg-red-600 text-white text-xs font-bold rounded-full px-1.5
                            py-0.5">
                            {{ favoriteCount() }}
                        </span>
                        }
                    </a>
                </li>
                }

            </ul>
        </div>
    </div>
</nav>