<div class="h-dvh flex justify-center items-center flex-col bg-black text-white uppercase">
    <p class=""></p>
    <div class="w-80 flex flex-col items-center text-center space-y-4">
        <div class="text-[12rem]">
            <p>4<span class="relative">0<span
                        class="w-12 h-6 rounded-[50%] absolute top-[44%] left-[27%] bg-primary-color"><span
                            class="w-3.5 h-3.5  rounded-[50%] absolute top-[20%] left-[34%] bg-black"></span></span></span>4
            </p>
        </div>
        <div class="text-4xl">sorry, there's <span class="primary-color">nothing here</span></div>
        <button type="button" class="bg-primary-color rounded">
            <a routerLink="/home" class="uppercase block px-3 py-1">go home</a>
        </button>
    </div>
</div>